body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background:#f5f5f5;
}

/* HEADER */
.top-header{
  display:flex;
  align-items:center;
  padding:15px;
  background:#e6f4ff;
}
.logo img{
  width:70px;
}
.title{
  margin-left:15px;
}
.title h1{
  margin:0;
  font-size:20px;
}
.title h2{
  margin:0;
  font-size:16px;
}

/* NAVBAR */
.navbar{
  background:#2e3f8f;
  padding:10px;
}
.navbar a{
  color:white;
  margin-right:15px;
  text-decoration:none;
  font-weight:bold;
}

/* MAIN CONTAINER */
.container{
  display:flex;
  justify-content:space-between;
  padding:20px;
}

/* LEFT BOX */
.left-box{
  width:65%;
  background:#fff36d;
  padding:20px;
}
.left-box h3{
  margin-top:0;
}
.left-box ul{
  list-style:disc;
  padding-left:20px;
}

/* LOGIN BOX */
.login-box{
  width:30%;
  background:#2e3f8f;
  padding:20px;
  color:white;
}
.login-box h3{
  text-align:center;
}
.login-box input{
  width:100%;
  padding:8px;
  margin:8px 0;
}

/* BUTTONS */
.btn{
  width:100%;
  padding:10px;
  margin:6px 0;
  border:none;
  cursor:pointer;
  font-weight:bold;
}
.yellow{
  background:#ffeb3b;
}
.white{
  background:white;
}
.forgot{
  display:block;
  text-align:center;
  margin-top:10px;
  color:white;
  text-decoration:none;
}

/* FOOTER */
footer{
  background:#2e3f8f;
  color:white;
  text-align:center;
  padding:10px;
  margin-top:30px;
}
